# Python
__pycache__/
*.py[cod]
venv/
.env

# Large ML/Data files
backend/app/ml/artifacts/Fake.csv
backend/app/ml/artifacts/True.csv

# Node
node_modules/
frontend/dist/
frontend/build/

# IDE
.vscode/
.idea/
*.DS_Store

# Docker
*.log